.git
.github
.venv
__pycache__
*.pyc
*.pyo
*.pyd
Python
*.so

mlflow.db
mlruns

data/processed
data/raw/tcga_prad
data/raw/**/*.tsv
data/raw/**/*.csv
data/raw/**/*.gz
data/raw/**/*.zip
data/raw/**/*.tar
data/raw/**/*.tar.gz

dist
build
*.egg-info